<%- include("../layout/header") -%>

<div class="news-about">
    <p class="title"><%= data.title%></p>
    <img src="/upload/images/<%= data.image%>">
    <p class="des"><%= data.des%></p>
</div>

<%- include("../layout/footer") -%>